<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %}  {% endblock title %}</title>
        {% load static %}
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#!">Доска объявлений</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                        class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="/board/">Главная</a></li>
                            {% if user.is_authenticated %}
                                <li class="nav-item"><a class="nav-link" href="{% url 'profile' %}"> Ваш профиль</a></li>
                                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'account_logout' %}">Выход</a></li>
                            {% else %}
                                <li class="nav-item"><a class="nav-link" href="{% url 'account_signup' %}">Регистрация</a></li>
                                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'account_login' %}">Вход</a></li>
                            {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        {% block content %}
        {% endblock content %}
        {% block comments %}
            <!-- Comments section-->
            <section class="mb-5">
                <div class="card bg-light">
                    <div class="card-body">
                        <!-- Comment form-->
                        <form class="mb-4"><textarea class="form-control" rows="3" placeholder="Присоединяйтесь к обсуждению и оставьте комментарий!"></textarea></form>
                        <!-- Comment with nested comments-->
                        <div class="d-flex mb-4">
                            <!-- Parent comment-->
                            <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                <div class="ms-3">
                                    <div class="fw-bold">Имя комментатора</div>
                                        Если вы собираетесь управлять космическим фронтом, это должно быть правительство; это никогда не будет частным предприятием. Потому что космическая граница опасна, дорога и сопряжена с неисчислимыми рисками.
                                        <!-- Child comment 1-->
                                        <div class="d-flex mt-4">
                                            <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                                <div class="ms-3">
                                                    <div class="fw-bold">Имя комментатора</div>
                                                    And under those conditions, you cannot establish a capital-market evaluation of that enterprise. You can't get investors.
                                                </div>
                                        </div>
                                            <!-- Child comment 2-->
                                            <div class="d-flex mt-4">
                                                <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                                    <div class="ms-3">
                                                        <div class="fw-bold">Имя комментатора</div>
                                                        When you put money directly to a problem, it makes a good headline.
                                                    </div>
                                            </div>
                                </div>
                        </div>
                            <!-- Single comment-->
                            <div class="d-flex">
                                <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                    <div class="ms-3">
                                        <div class="fw-bold">Имя комментатора</div>
                                        Когда я смотрю на вселенную и на все способы, которыми вселенная хочет нас убить, мне трудно примирить это с заявлениями о благодеянии.
                                    </div>
                            </div>
                    </div>
                </div>
            </section>
            </div>  <!--не привязанный див без него поиск слитает-->
        {% endblock comments %}

        {% block sidewidgets %}
        <!-- Side widgets-->
            <div class="col-lg-4">
                <!-- Search widget-->
                <div class="card mb-4">
                    <div class="card-header">Поиск</div>
                        <div class="card-body">
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="Введите что-то для поиска..." aria-label="Введите что-то для поиска..." aria-describedby="button-search" />
                                <button class="btn btn-primary" id="button-search" type="button">Готово!</button>
                            </div>
                        </div>
                </div>
                    <!-- Categories widget-->
                    <div class="card mb-4">
                        <div class="card-header">Отфильтровать объявления по категориям:</div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <ul class="list-unstyled mb-0">
                                            <li><a href="{% url 'ads_category' '1' %}"> Танки</a></li>
                                            <li><a href="{% url 'ads_category' '2' %}"> Хилы</a></li>
                                            <li><a href="{% url 'ads_category' '3' %}"> ДД</a></li>
                                            <li><a href="{% url 'ads_category' '4' %}"> Кузнецы</a></li>
                                            <li><a href="{% url 'ads_category' '5' %}"> Зельевары</a></li>
                                        </ul>
                                    </div>
                                        <div class="col-sm-6">
                                            <ul class="list-unstyled mb-0">
                                            <li><a href="{% url 'ads_category' '6' %}"> Торговцы</a></li>
                                            <li><a href="{% url 'ads_category' '7' %}"> Гилдмастеры</a></li>
                                            <li><a href="{% url 'ads_category' '8' %}"> Квестгиверы</a></li>
                                            <li><a href="{% url 'ads_category' '9' %}"> Кожевники</a></li>
                                            <li><a href="{% url 'ads_category' '10' %}"> Мастера заклинаний</a></li>
                                            </ul>
                                        </div>
                                </div>
                            </div>
                    </div>
                        <!-- Side widget-->
                        <div class="card mb-4">
                            <div class="card-header">Боковой виджет (дополнительный)</div>
                                <div class="card-body">Вы можете поместить все, что захотите, внутрь этих боковых виджетов. Они просты в использовании и оснащены компонентом Bootstrap 5 card!</div>
                        </div>
            </div>
        {% endblock sidewidgets %}
        {% block footer %}
            <!-- Footer-->
            <footer class="py-4 bg-dark">
                <div class="container"><p class="m-0 text-center text-white">Borisov Dmitry &copy; Bulletin board_D19 2022 </p></div>
            </footer>
        {% endblock footer %}
    </body>
</html>
